{{ $mailingListPath := (printf "data/%s/mailinglists.toml" $.Page.Site.Language.Lang) }}

{{ $mailinglistsData := "" }}
{{ if (fileExists $mailingListPath) -}}
  {{ $data := index .Site.Data $.Page.Site.Language.Lang }}
  {{ $mailinglistsData = $data.mailinglists }}
{{ else }}
  {{ $dataDefaultLanguage := index .Site.Data $.Page.Sites.First.Language.Lang }}
  {{ $mailinglistsData = $dataDefaultLanguage.mailinglists }}
{{ end }}

<a class="link" href={{ index $mailinglistsData (.Get 0) "URL" }}>{{ index $mailinglistsData (.Get 0) "description" }}</a>
